.developers-page {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.developer-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.developer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.developer-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.role-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.icon {
    font-size: 24px;
    color: #0073b1;
    margin-right: 10px;
}

h3 {
    font-size: 18px;
    color: #555;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

a {
    color: #0073b1;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
